.page-header
  %h1 Books
- @books.in_groups_of(4, false) do |group|
  %ul.thumbnails
    - group.each do |book|
      %li.span3
        .thumbnail
          %img{:data => {:src => "holder.js/160x160"}, :alt => ""}
          %p= link_to book.title, book_path(book)
          %small #{book.reviews.count} readers
= will_paginate @books